.profile {
  width: 100%;
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: #54759c;
}
.profile-container {
  display: flex;
  max-width: 1000px;
  gap: 30px;

  background-color: #fcfcfc;
  padding: 18px;
  border-radius: 10px;
}
.logoimg {
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 10px;
  overflow: hidden;
}
.profile-details {
  display: flex;
  flex-direction: column;
}
.profile-details h2 {
  margin-bottom: 20px;
  align-items: center;
  color: #939393;
}
.profile-form {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 12px;
}
.profile-form label {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  cursor: pointer;
  color: #9f9f9f9f;
}
.profile-form label img {
  width: 70px;
  border-radius: 50%;
  aspect-ratio: 1/1;
  background-size: cover;
  object-fit: cover;
}
.profile-form input {
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #9f9f9f55;
  outline-color: #8f8e8ea6;
}
.profile-form textarea {
  padding: 8px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid #9f9f9f55;
  outline-color: #8f8e8ea6;
}
.profile-form button {
  padding: 8px;
  background-color: #3f76dc;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #fcfcfc;
  cursor: pointer;
}
.profile-form button:hover {
  background-color: #416fc5;
}

@media (max-width : 900px) {
  .profile-container{
    width: 300px;
    
  }
  .logoimg{
    display: none;
    
  }
}